<button (dblclick)="showContainerHandler()">Toggle</button>
<br />
<br />
<div class="container" *ngIf="showContainer">
  This is the form container

  <form (submit)="onFormSubmit()">
    <input type="text" placeholder="name" (input)="handleNameInput($event)" />
    <p>Your name is: {{ name }}</p>
    <select (change)="handleSelectChange($event)">
      <option value="item1">item1</option>
      <option value="item2">item2</option>
      <option value="item3">item3</option>
      <option value="item4">item4</option>
      <option value="item5">item5</option>
    </select>
    <p>Selected option is: {{ selectedOption }}</p>
    <input type="checkbox" (change)="handleCheckBoxChange($event)" />
    <p>Is Checkbox Checked: {{ isCheckBoxChecked }}</p>
    <button type="submit">Submit</button>
  </form>
</div>
<p *ngIf="isFormSubmitted">
  {{ formSubmitMessage }}
</p>
<div
  id="coloredDiv"
  style="width: 300px; height: 200px; background-color: red"
  (mouseenter)="changeColor('coloredDiv')"
  (mouseleave)="changeColor('coloredDiv')"
></div>
<br />
<input type="text" (keydown)="handleKeyEvent($event)" />
<p>Pressed key is: {{ pressedKey }}</p>
<br />
<input type="text" (keyup)="handleKeyEvent($event)" />
<p>Pressed key is: {{ pressedKey }}</p>
<br />
<input type="text" (keypress)="handleKeyEvent($event)" />
<p>Pressed key is: {{ pressedKey }}</p>
<br />
<div *ngIf="windowWidth && windowHeight">
  <p>Window width: {{ windowWidth }}</p>
  <p>Window height: {{ windowHeight }}</p>
</div>
